@if (enrollments().length === 0) {
  <div class="istable__empty">No hay estudiantes matriculados en este curso.</div>
} @else {
  <div class="istable__wrap">
    <table class="istable">
      <thead>
        <tr>
          <th>Estudiante</th>
          <th>Progreso</th>
          <th>Estado</th>
          <th>Inscrito</th>
        </tr>
      </thead>
      <tbody>
        @for (enr of enrollments(); track enr.id) {
          <tr>
            <td>
              <div class="istable__student">
                <div class="istable__avatar">{{ initials(enr.student) }}</div>
                <div>
                  <div class="istable__name">{{ enr.student.firstName }} {{ enr.student.lastName }}</div>
                  <div class="istable__email">{{ enr.student.email }}</div>
                </div>
              </div>
            </td>
            <td>
              <div class="istable__progress">
                <div class="istable__progress-bar">
                  <div class="istable__progress-fill" [style.width.%]="enr.progress.overallPercentage"></div>
                </div>
                <span>{{ enr.progress.overallPercentage }}%</span>
              </div>
            </td>
            <td>
              <span class="istable__badge istable__badge--{{ enr.status }}">{{ enr.status }}</span>
            </td>
            <td class="istable__date">{{ enr.enrolledAt | date:'dd/MM/yyyy' }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
