<div class="radar">
  <svg [attr.viewBox]="'0 0 ' + size() + ' ' + size()" class="radar__svg">
    <!-- Rings -->
    @for (ring of rings(); track $index) {
      <polygon [attr.points]="ring" class="radar__ring" />
    }
    <!-- Spokes -->
    @for (spoke of spokes(); track $index) {
      <line [attr.x1]="cx()" [attr.y1]="cy()" [attr.x2]="spoke.x" [attr.y2]="spoke.y" class="radar__spoke" />
    }
    <!-- Series -->
    @for (s of seriesGeom(); track s.label) {
      <polygon [attr.points]="s.points" class="radar__area"
               [style.fill]="s.color" [style.stroke]="s.color" />
      @for (dot of s.dots; track $index) {
        <circle [attr.cx]="dot.x" [attr.cy]="dot.y" r="3" [style.fill]="s.color" class="radar__dot" />
      }
    }
    <!-- Axis labels -->
    @for (label of labels(); track $index) {
      <text [attr.x]="label.x" [attr.y]="label.y" [attr.text-anchor]="label.anchor"
            class="radar__label">{{ label.text }}</text>
    }
  </svg>

  <div class="radar__legend">
    @for (s of series(); track s.label) {
      <span class="radar__legend-item">
        <span class="radar__legend-dot" [style.background]="s.color"></span>
        {{ s.label }}
      </span>
    }
  </div>
</div>
