<button
  [type]="type()"
  [disabled]="disabled() || loading()"
  [class]="'button button--' + variant() + ' button--' + size()"
  [class.button--full-width]="fullWidth()"
  [class.button--loading]="loading()"
  [class.button--disabled]="disabled()"
  (click)="handleClick($event)"
>
  @if (loading()) {
    <span class="button__spinner"></span>
  }
  
  @if (icon() && iconPosition() === 'left' && !loading()) {
    <i class="button__icon button__icon--left {{ icon() }}"></i>
  }
  
  <span class="button__text">
    <ng-content />
  </span>
  
  @if (icon() && iconPosition() === 'right' && !loading()) {
    <i class="button__icon button__icon--right {{ icon() }}"></i>
  }
</button>